<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ようこそ</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
<section>
    <div class="page-header">
        <h1>Javaでwebアプリケーション入門
            <small>Twitter風webアプリを作ってみよう！</small>
        </h1>
    </div>

    <div class="alert alert-info" role="alert">
        このページが見えているということは、あなたの環境は正常に動作しています。<br/>
        <a href="#" th:href="@{/sample}">サンプルを動かしてみても</a>良いかもしれません。
    </div>
</section>

<section>
    <p>本ワークショップでは、以下の順番でTwitter風のwebアプリケーションを作成します。</p>
    <ol>
        <li>こんにちは！</li>
        <li>ハローワールドを作ってみよう！</li>
        <li>ツイートを表示しよう！</li>
        <li>APIを呼んでみよう！</li>
        <li>つぶやこう！</li>
    </ol>

    <section class="panel panel-success">
        <div class="panel-heading">
            Thymeleaf について
        </div>
        <div class="panel-body">
            <p>このアプリケーションではテンプレートエンジンの Thymeleaf を使用しています。
                ThymeleafはテンプレートとなるXHTMLファイルに独自の記述をすると自動的に埋めてくれます。
                今回、Thymeleaf自体のくわしい説明は行いませんので、必要な記述はこの表示と同じように注釈で書いておきます。</p>

            <p>くわしい説明が欲しい方は <a href="http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf_ja.html">こちら</a>
                を参考にしてください。(thanks @bufferings!)</p>
        </div>
    </section>

    <section>
        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> こんにちは！</h2>

        <p>このページを表示……できてますね！おめでとうございます！！</p>

        <p> SpringBootというフレームワークを使用した、Webアプリケーションが起動できました。
            このページもアプリケーションの一部だったりします。
            本ワークショップは、このアプリケーションに機能を追加していく形で行います。
        </p>
    </section>
    <hr/>
    <section>
        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ハローワールドを作ってみよう！</h2>

        <p></p>
        決まった内容を表示するだけのシンプルなページを作成します。
        HTMLで作成した画面に、あなたの名前を表示してみましょう。
        <section>
            <h4>作成するもの</h4>
            <ul>
                <li>src/main/java/javajok/work/HelloWorldController.java</li>
                <li>src/main/resources/templates/hello.html</li>
            </ul>
            <a href="/hello">できたらここを開いてください</a>
        </section>
        <section>
            <h4>ここで学べること</h4>
            <ul>
                <li>Spring MVC を使用したシンプルなControllerの作り方</li>
                <li>Thymeleaf を使用したシンプルなページの作り方</li>
                <li>Thymeleaf で値を表示する方法</li>
            </ul>
        </section>
        <section class="panel panel-success">
            <div class="panel-heading">
                Thymeleafを使う準備と、変数の埋め込み
            </div>
            <div class="panel-body">
                Thymeleafを使うことを伝えるために、HTMLタグを次のように変更してください。
                <pre>&lt;html xmlns:th="http://www.thymeleaf.org"&gt;</pre>
                Javaで設定した属性値を表示する際は次のようにします。
                <pre>&lt;span th:text="${name}"&gt;ここがnameの値に変わります&lt;/span&gt;</pre>
            </div>
        </section>
    </section>
    <hr/>
    <section>
        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ツイートを表示しよう！</h2>
        ハローワールド画面と同じように、ツイートを表示する画面を作ります。
        ツイートクラスは自分で作っても良いですが、sampleのものをそのまま使用しても構いません。
        ツイートが表示できたら、次はツイートのリスト表示してみましょう。
        <section>
            <h4>作成するもの</h4>
            <ul>
                <li>src/main/java/javajok/work/TimelineController.java</li>
                <li>src/main/java/javajok/work/Tweet.java</li>
                <li>src/main/resources/templates/timeline.html</li>
            </ul>
            <a href="/timeline">できたらここを開いてください</a>
        </section>
        <section>
            <h4>ここで学べること</h4>
            <ul>
                <li>Thymeleaf でプロパティを扱う方法</li>
                <li>Thymeleaf で複数件を扱う方法</li>
            </ul>
        </section>
        <section class="panel panel-success">
            <div class="panel-heading">
                Thymeleafで複数件を扱う
            </div>
            <div class="panel-body">
                java.util.List のように複数件を扱う場合は th:each を使用します。次の場合、Pタグがリストの件数分繰り返されます。
                <pre>&lt;p th:each="item : ${list}"&gt;...&lt;/p&gt;</pre>
                th:each を使用したタグの中では、ローカル変数が使用できます。この場合は item がローカル変数になります。
            </div>
        </section>
    </section>
    <hr/>
    <section>
        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> APIをよびだそう！</h2>
        いよいよAPI呼び出しです。
        APIサーバーからタイムラインを取得して、画面に表示します。<br/>
        APIサーバーからはJSONが返されます。
        <a href="#" th:href="${@environment.getProperty('javajok.api.url')} + '/timeline'">直接表示してみる</a>とイメージしやすいかもしれません。
        <section>
            <h4>作成するもの</h4>
            <ul>
                <li>src/main/java/javajok/work/Timeline.java</li>
            </ul>
            <a href="/timeline">できたらここを開いてください</a>
        </section>
        <section>
            <h4>ここで学べること</h4>
            <ul>
                <li>RestTemplate を使用したAPIの呼び出し方</li>
                <li>JSONから自分で作成したクラスへのマッピング</li>
            </ul>
        </section>
    </section>
    <hr/>
    <section>
        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> つぶやこう！</h2>
        入力した言葉をつぶやけるようにしましょう。
        API呼び出し時に、入力したメッセージも渡せばOKです。
        この時、APIが受け取れる形で渡してあげなくてはいけません。
        <section>
            <h4>ここで学べること</h4>
            <ul>
                <li>フォームの入力内容をControllerで受け取る方法</li>
                <li>APIにパラメータを渡す方法</li>
                <li>リダイレクト</li>
            </ul>
        </section>
        <section class="panel panel-success">
            <div class="panel-heading">
                ThymeleafでURLを指定する
            </div>
            <div class="panel-body">
                固定URLへのアクセスであれば、わざわざThymeleafの構文を使用する必要はありません。
                ですが、パラメータを含めるなど動的にしたい時は次のように記述します。
                <pre>&lt;form action="@{/tweet}" method="post"&gt;...&lt;/form&gt;</pre>
            </div>
        </section>
    </section>
    <section class="panel panel-info">
        <div class="panel-heading">
            おつかれさまでした
        </div>
        <div class="panel-body">
            以上でワークショップは終了です。
        </div>
    </section>

    <section>
        <h2><span class="glyphicon glyphicon-road" aria-hidden="true"></span> この先の筋道</h2>
        <ul>
            <li>タイムラインにアイコンを表示してみる</li>
            <li>エラーハンドリングをしてみる</li>
            <li>一般に公開されているAPIを使ってみる</li>
            <li>APIサーバーを実装してみる</li>
            <li>他のフレームワークを使ってみる</li>
            <li>etc...</li>
        </ul>
    </section>
</section>

</body>
</html>